<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.AddressMapper">

    <sql id="base">
        SELECT * from `address`
    </sql>

    <select id="getForUser" resultType="Address">
        <include refid="base"/>
        where `address`.userId = #{userId}
    </select>
    <select id="getCountForUser" resultType="Integer">
        select count(*)
        from address
        where `address`.userId = #{userId}

    </select>

    <insert id="add">
        insert into address (userId, receiver, contact, province, city, fullAddress, isCommonAddress)
        value(#{userId}, #{receiver}, #{contact}, #{province}, #{city}, #{fullAddress}, #{isCommonAddress})
    </insert>

    <select id="getCommonAddress" resultType="Address">
        <include refid="base"/>
        where `address`.userId = #{userId}
        and `address`.isCommonAddress = 1
    </select>
    <select id="getById" resultType="Address">
        <include refid="base"/>
        <where>
            `address`.id = #{id}
        </where>
    </select>

    <update id="update">
        update address
        <set>
          <trim suffixOverrides=",">
            <if test="receiver!=null">receiver=#{receiver},</if>
            <if test="contact!=null">contact=#{contact},</if>
            <if test="province != null">province=#{province},</if>
            <if test="city != null">city=#{city},</if>
            <if test="fullAddress != null">fullAddress=#{fullAddress},</if>
            <if test="isCommonAddress != null">isCommonAddress=#{isCommonAddress}</if>
          </trim>
        </set>
        where  `address`.id = #{id}
    </update>
    <update id="logicDelete">
        update address
        <set>
            isDelete= #{isDelete},
            delReason = #{delReason}
        </set>
        <where>
            id=#{id}
        </where>
    </update>

    <update id="unDelete">
        update address
        <set>
            isDelete=0
        </set>
        <where>
            id=#{id}
        </where>
    </update>

    <delete id="delete">
        delete from address
        where id =  #{id}
    </delete>
</mapper>