<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.ShopMapper">

    <sql id="base">
        SELECT shop.id,shop.image,shop.userId,shop.shopName,shop.city,
               shop.address,shop.applyDate,shop.enterDate,
               shop.applyState,shop.state,
               user.`name` as userName
        from shop
        LEFT JOIN `user` on shop.userId = user. id
    </sql>

    <select id="getForAdmin" resultType="ShopInfo">
        <include refid="base"/>
        <where>
            <if test="isDelete!=null">
                and `shop`.isDelete = #{isDelete}
            </if>
            <if test="userId!=null">
                and `shop`.userId = #{userId}
            </if>
            <if test="applyState!=null">
                and `shop`.applyState = #{applyState}
            </if>
            <if test="state!=null">
                and `shop`.state = #{state}
            </if>
        </where>
        ORDER BY id ASC
        LIMIT #{start},#{rows}
    </select>

    <select id="getCountForAdmin" resultType="Integer">
        SELECT count(*)
        FROM `shop`
        <where>
            <if test="isDelete!=null">
                and `shop`.isDelete = #{isDelete}
            </if>
            <if test="userId!=null">
                and `shop`.userId = #{userId}
            </if>
            <if test="applyState!=null">
                and `shop`.applyState = #{applyState}
            </if>
            <if test="state!=null">
                and `shop`.state = #{state}
            </if>
        </where>
    </select>

    <select id="getById" resultType="ShopInfo">
        <include refid="base"/>
        <where>
            `shop`.id = #{id}
        </where>
    </select>

    <insert id="applySK">
        insert into shop
        (
            shopName,image,userId,city,address,applyDate
        )
        value (
            #{shopName},#{image},#{userId},#{city},#{address},#{applyDate}
        )
    </insert>

    <update id="logicDelete">
        update shop
        <set>
            isDelete= #{isDelete},
            delReason = #{delReason}
        </set>
        <where>
            id=#{id}
        </where>
    </update>

    <update id="unDelete">
        update shop
        <set>
            isDelete=0
        </set>
        <where>
            id=#{id}
        </where>
    </update>

    <delete id="delete">
        delete from shop
        where id =  #{id}
    </delete>
</mapper>